@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Just+Another+Hand&display=swap');

.heading {
  font-family: 'Just Another Hand', 'Covered By Your Grace', cursive;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
}



.App {
    text-align: center;
    color: black;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 30s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  
  /* Bootstrap Btn */
  .btn{display:inline-block;font-weight:400;line-height:1.5;color:#212529;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}
  @media (prefers-reduced-motion:reduce){
    .btn{transition:none}
  }
  .btn:hover{color:#212529}
  .btn-check:focus+.btn,
  .btn:focus{
    outline:0;
    box-shadow:0 0 0 .25rem rgba(13,110,253,.25)}
  .btn.disabled,
  .btn:disabled,
  fieldset:disabled .btn{
    pointer-events:none;
    opacity:.65}
  .btn-primary{
    color:#fff;background-color:#0d6efd;
    border-color:#0d6efd}
  .btn-primary:hover{
    color:#fff;
    background-color:#0b5ed7;
    border-color:#0a58ca
  }
  .btn-check:focus+.btn-primary,
  .btn-primary:focus{
    color:#fff;background-color:#0b5ed7;
    border-color:#0a58ca;
    box-shadow:0 0 0 .25rem rgba(49,132,253,.5)}
  .btn-check:active+.btn-primary,
  .btn-check:checked+.btn-primary,
  .btn-primary.active,
  .btn-primary:active,
  .show>.btn-primary.dropdown-toggle{
    color:#fff;background-color:#0a58ca;
    border-color:#0a53be
  }
  .btn-check:active+.btn-primary:focus,
  .btn-check:checked+.btn-primary:focus,
  .btn-primary.active:focus,
  .btn-primary:active:focus,
  .show>.btn-primary.dropdown-toggle:focus{
    box-shadow:0 0 0 .25rem rgba(49,132,253,.5)}
  .btn-primary.disabled,
  .btn-primary:disabled{
      color:#fff;
      background-color:#0d6efd;
      border-color:#0d6efd
    }

  

  .header {
    background-color: magenta;
  }

  .sidebar {
    background-color: cyan;
    color: white;
  }

  .footer {
    background-color: yellow;
    color: black;
  }