:root {
  --C: #00ffff;
  --M: #ff00ff;
  --Y: #ffff00;
  --K: #000;
}

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Just+Another+Hand&display=swap");

.heading,
li {
  font-family: "Just Another Hand", "Covered By Your Grace", cursive;
  text-transform: uppercase;
  color: var(--K);
}

h1 {
  font-size: 64px;
}

ul {
  display: inline;
}

li {
  font-size: 24px;
  display: inline;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--K);
}

button,
Button {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* MAIN */
.header {
  background-color: var(--M); /* MAGENTA */
}

.sidebar {
  background-color: var(--C); /* CYAN */
  color: white;
  display: flex;
  padding-top: 10px;
  margin-top: 10px;
  height: 100%;
  padding-bottom: 100px;
}

.footer {
  background-color: var(--Y); /* YELLOW */
  color: var(--K);
  font-size: 12px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 100px;
  width: 100%;
  padding: 15px;
  text-align: center;
}

.dataSource {
  font-size: 11px;
}

.main {
  background-color: white;
  height: 100%;
  min-height: 100%;
}

.mainDiv {
  margin: auto;
  padding: 10px;
  width: 90%;
}

.sidebar-list-styling {
  padding-left: 35px;
  padding-top: 5px;
  width: 20%;
}

.sidebar-list a {
  padding: 0;
}

.sidebar-route {
  flex: 1;
  padding: "00px";
}

/* LINKS */
h1 a:hover {
  color: white;
}

li a {
  color: darkblue;
}

li a:hover {
  color: white;
  text-decoration: none;
}

/* Bootstrap Btn */
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #212529;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  pointer-events: none;
  opacity: 0.65;
}
.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0a58ca;
  border-color: #0a53be;
}
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

FormGroup,
Form,
Input,
Label {
  color: var(--K);
}
